<div class="card">

  <h5 class="mb-3">Import Users (CSV)</h5>

  <!-- FILE UPLOAD -->
  <p-fileUpload
    mode="basic"
    chooseLabel="Choose CSV File"
    accept=".csv"
    (onSelect)="onFileSelect($event)">
  </p-fileUpload>

  <!-- ERROR -->
  <p-message
    *ngIf="errorMessage"
    severity="error"
    [text]="errorMessage"
    class="mt-2">
  </p-message>

  <!-- PREVIEW -->
  <div *ngIf="previewRows.length > 0" class="mt-4">

    <small class="text-600">
      Previewing first {{ previewRows.length }} records
    </small>

    <p-table
      [value]="previewRows"
      [scrollable]="true"
      scrollHeight="200px"
      [paginator]="false"
      class="mt-2">

      <ng-template pTemplate="header">
        <tr>
          <th *ngFor="let col of previewColumns">
            {{ col }}
          </th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-row>
        <tr>
          <td *ngFor="let col of previewColumns">
            {{ row[col] }}
          </td>
        </tr>
      </ng-template>

    </p-table>

    <!-- IMPORT BUTTON -->
    <div class="flex justify-content-end mt-3">
      <button
        pButton
        label="Import Users"
        icon="pi pi-upload"
        [loading]="loading"
        (click)="importUsers()">
      </button>
    </div>

  </div>

  <!-- RESULT -->
  <div *ngIf="result" class="mt-4">

    <p-message
      severity="success"
      text="Import completed">
    </p-message>

    <ul class="mt-2">
      <li>Total Records: <b>{{ result.totalRecords }}</b></li>
      <li>Imported: <b class="text-green-500">{{ result.successCount }}</b></li>
      <li>Failed: <b class="text-red-500">{{ result.failureCount }}</b></li>
    </ul>

    <div *ngIf="result.errors?.length">
      <h6 class="mt-3">Failed Records</h6>
      <ul>
        <li *ngFor="let err of result.errors">
          Row {{ err.rowNumber }} - {{ err.message }}
        </li>
      </ul>
    </div>

  </div>

</div>